body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:0;
    padding:0;
}

.page-header{
  background-color: #31a6d1;
  padding: 0;
  color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
}

.game-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.game-cell{
    font-size: x-large;
    padding: 8px;
    min-height: 2rem;
    min-width: 2rem;
    border-color:gray;
    border-style:solid;
    border-width: 2px;
}

.game-cell:hover{
    background-color: antiquewhite;
}

.reset{
    padding: 32px;
}

.select-symbol{
    padding-top: 16px;
}

#winner{
    font-size: xx-large;
}
/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #31a6d1;
    color: white;
    border-bottom-right-radius:10px;
    border-bottom-left-radius: 10px;
  }
  
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Modal Body */
  .modal-body {
    padding: 2px 16px;
  }
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #31a6d1;
    color: white;
    border-top-right-radius:10px;
    border-top-left-radius: 10px;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

  .symbolBtn, .blueBtn{
    padding: 1rem;
    margin: 1rem;
    color:white;
    background-color: #31a6d1;
    border:none;
    border-radius:4px;
  }

  .symbolBtn:hover, .blueBtn:hover{
    background-color: #076182;
    transition-duration: 0.15s;
  }
  
  .selected{
    background-color: #076182;
  }

  .hidden{
    display:none;
  }